.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.App input{
  margin-top: 20px;
  width: 350px;
  height: 40px;
  font-size: 20px;
}