.bg-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn.hover{
    background-color: bisque;
}
.btn{
    background-color: aqua;
    color: black;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.h{
        text-align: center;
        color: rgb(36, 16, 210);
        font-family: "Roboto";
    }

    .tr,th,td{
        border: 1px solid black;
    }